<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Time Running Totals</h5>
                    <ul class="list-unstyled">
                        <li><strong>Number Of Runs:</strong> {{athleteStats.AllTimeStats.Count}}</li>
                        <li><strong>Distance:</strong> {{athleteStats.AllTimeStats.Distance}} Miles</li>
                        <li><strong>Total Time:</strong> {{athleteStats.AllTimeStats.Time}} Hours</li>
                        <li><strong>Total Elevation:</strong> {{athleteStats.AllTimeStats.Elevation}} Feet</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Year To Date Running Totals</h5>
                    <ul class="list-unstyled">
                        <li><strong>Number Of Runs:</strong> {{athleteStats.YtdStats.Count}}</li>
                        <li><strong>Distance:</strong> {{athleteStats.YtdStats.Distance}} Miles</li>
                        <li><strong>Total Time:</strong> {{athleteStats.YtdStats.Time}} Hours</li>
                        <li><strong>Total Elevation:</strong> {{athleteStats.YtdStats.Elevation}} Feet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>