<div id="BestEfforts" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Time Runs By Distance</h5>
                    <div class="row">
                      <!-- Distance Block -->
                      <div class="col-md-4 mb-3">
                        <div class="d-flex flex-column align-items-start justify-content-center h-100">
                          <div class="fs-8 fw-bold">Five Kilometer</div>
                          <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!AllTimeTopPerformances.FiveK" (click)="openPbModal(AllTimeTopPerformances.FiveK!)">View</button>
                        </div>
                      </div>
                      <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                        <div><strong>Time:</strong> {{ AllTimeTopPerformances.FiveK?.MovingTime! | secondsToTime }}</div>
                        <div><strong>Avg Mile Pace:</strong> {{ AllTimeTopPerformances.FiveK?.AveragePace || 'TBD' }}</div>
                        <div><strong>Max Mile Pace:</strong> {{ AllTimeTopPerformances.FiveK?.MaxPace || 'TBD' }}</div>
                      </div>
                      <hr class="mx-3">
                      <div class="col-md-4 mb-3">
                        <div class="d-flex flex-column align-items-start justify-content-center h-100">
                          <div class="fs-8 fw-bold">Ten Kilometer</div>
                          <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!AllTimeTopPerformances.TenK" (click)="openPbModal(AllTimeTopPerformances.TenK!)">View</button>
                        </div>
                      </div>
                      <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                        <div><strong>Time:</strong> {{ AllTimeTopPerformances.TenK?.MovingTime! | secondsToTime }}</div>
                        <div><strong>Avg Mile Pace:</strong> {{ AllTimeTopPerformances.TenK?.AveragePace || 'TBD' }}</div>
                        <div><strong>Max Mile Pace:</strong> {{ AllTimeTopPerformances.TenK?.MaxPace || 'TBD' }}</div>
                      </div>
                      <hr class="mx-3">
                      <div class="col-md-4 mb-3">
                        <div class="d-flex flex-column align-items-start justify-content-center h-100">
                          <div class="fs-8 fw-bold">Half Marathon</div>
                          <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!AllTimeTopPerformances.HalfMarathon" (click)="openPbModal(AllTimeTopPerformances.HalfMarathon!)">View</button>
                        </div>
                      </div>
                      <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                        <div><strong>Time:</strong> {{ AllTimeTopPerformances.HalfMarathon?.MovingTime! | secondsToTime }}</div>
                        <div><strong>Avg Mile Pace:</strong> {{ AllTimeTopPerformances.HalfMarathon?.AveragePace || 'TBD' }}</div>
                        <div><strong>Max Mile Pace:</strong> {{ AllTimeTopPerformances.HalfMarathon?.MaxPace || 'TBD' }}</div>
                      </div>
                      <hr class="mx-3">
                      <div class="col-md-4 mb-3">
                        <div class="d-flex flex-column align-items-start justify-content-center h-100">
                          <div class="fs-8 fw-bold">Marathon</div>
                          <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!AllTimeTopPerformances.Marathon" (click)="openPbModal(AllTimeTopPerformances.Marathon!)">View</button>
                        </div>
                      </div>
                      <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                        <div><strong>Time:</strong> {{ AllTimeTopPerformances.Marathon?.MovingTime! | secondsToTime }}</div>
                        <div><strong>Avg Mile Pace:</strong> {{ AllTimeTopPerformances.Marathon?.AveragePace || 'TBD' }}</div>
                        <div><strong>Max Mile Pace:</strong> {{ AllTimeTopPerformances.Marathon?.MaxPace || 'TBD' }}</div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-body mb-4">
                    <h5 class="card-title">YTD Runs By Distance</h5>
                    <div class="row">
                        <!-- Distance Block -->
                        <div class="col-md-4 mb-3">
                          <div class="d-flex flex-column align-items-start justify-content-center h-100">
                            <div class="fs-8 fw-bold">Five Kilometer</div>
                            <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!YtdTopPerformances.FiveK" (click)="openPbModal(YtdTopPerformances.FiveK!)">View</button>
                          </div>
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                          <div><strong>Time:</strong> {{ YtdTopPerformances.FiveK?.MovingTime! | secondsToTime }}</div>
                          <div><strong>Avg Mile Pace:</strong> {{ YtdTopPerformances.FiveK?.AveragePace || 'TBD' }}</div>
                          <div><strong>Max Mile Pace:</strong> {{ YtdTopPerformances.FiveK?.MaxPace || 'TBD' }}</div>
                        </div>
                        <hr class="mx-3">
                        <div class="col-md-4 mb-3">
                          <div class="d-flex flex-column align-items-start justify-content-center h-100">
                            <div class="fs-8 fw-bold">Ten Kilometer</div>
                            <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!YtdTopPerformances.TenK" (click)="openPbModal(YtdTopPerformances.TenK!)">View</button>
                          </div>
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                          <div><strong>Time:</strong> {{ YtdTopPerformances.TenK?.MovingTime! | secondsToTime }}</div>
                          <div><strong>Avg Mile Pace:</strong> {{ YtdTopPerformances.TenK?.AveragePace || 'TBD' }}</div>
                          <div><strong>Max Mile Pace:</strong> {{ YtdTopPerformances.TenK?.MaxPace || 'TBD' }}</div>
                        </div>
                        <hr class="mx-3">
                        <div class="col-md-4 mb-3">
                          <div class="d-flex flex-column align-items-start justify-content-center h-100">
                            <div class="fs-8 fw-bold">Half Marathon</div>
                            <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!YtdTopPerformances.HalfMarathon" (click)="openPbModal(YtdTopPerformances.HalfMarathon!)">View</button>
                          </div>
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                          <div><strong>Time:</strong> {{ YtdTopPerformances.HalfMarathon?.MovingTime! | secondsToTime }}</div>
                          <div><strong>Avg Mile Pace:</strong> {{ YtdTopPerformances.HalfMarathon?.AveragePace || 'TBD' }}</div>
                          <div><strong>Max Mile Pace:</strong> {{ YtdTopPerformances.HalfMarathon?.MaxPace || 'TBD' }}</div>
                        </div>
                        <hr class="mx-3">
                        <div class="col-md-4 mb-3">
                          <div class="d-flex flex-column align-items-start justify-content-center h-100">
                            <div class="fs-8 fw-bold">Marathon</div>
                            <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!YtdTopPerformances.Marathon" (click)="openPbModal(YtdTopPerformances.Marathon!)">View</button>
                          </div>
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between text-muted small mb-3">
                          <div><strong>Time:</strong> {{ YtdTopPerformances.Marathon?.MovingTime! | secondsToTime }}</div>
                          <div><strong>Avg Mile Pace:</strong> {{ YtdTopPerformances.Marathon?.AveragePace || 'TBD' }}</div>
                          <div><strong>Max Mile Pace:</strong> {{ YtdTopPerformances.Marathon?.MaxPace || 'TBD' }}</div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-next opacity-0 position-absolute" type="button" data-bs-target="#BestEfforts" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Put the modal here and make sure it is loaded with the propper information -->
<!-- Modal -->
<div class="modal fade" id="PbModal" #PbModal tabindex="-1" aria-labelledby="PbModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Pass `activity` input to child component -->
        <app-activity [activity]="activityToLoad"></app-activity>
      </div>
    </div>
  </div>
</div>