<div *ngIf="init" class="mx-3 mt-2 mb-2">
  <div class="row">
    <app-athlete [athlete]="athlete" [weatherData]="weatherData"></app-athlete>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <app-athlete-stats [athleteStats]="athleteStats"></app-athlete-stats>
      </div>
      <div class="row">
        <app-gear [gearList]="gear"></app-gear>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div *ngIf="tenMostRecentRuns.length > 0" id="activities" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let activity of tenMostRecentRuns; let i = index" class="carousel-item" [class.active]="i === 0">
                    <app-activity [activity]="activity" [gearData]="gear"></app-activity>
                </div>
            </div>
            <button class="carousel-control-prev opacity-0 position-absolute" type="button" data-bs-target="#activities" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next opacity-0 position-absolute" type="button" data-bs-target="#activities" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-top-performances [Activities]="activities" [GearData]="gear"></app-top-performances>
    </div>
  </div>
  <div class="pt-3 pb-3">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <app-monthly-stats [monthlyStats]="PastYearMonthlyStats"></app-monthly-stats>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            Weekly Stats
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!init">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>